<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bgn.baseframe">
    <!--网络-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读写-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--电话相关-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- !读取短信的权限! -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!--开机-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--other-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>
        <activity
            android:name=".view.picture.SelectPictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/select_picture_them" />
        <activity
            android:name=".view.webview.BaseWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".utils.arouter.SchameFilterActivity">
            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="app.cuckoo.mall"
                    android:scheme="thus" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app.cuckoo.mall"
                    android:scheme="http" />
                <data
                    android:host="app.cuckoo.mall"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>